[submodule "iced"]
	path = iced
	url = https://github.com/Lcstyle/iced.git
	branch = fix/v3-rebased-upstream
[submodule "icon-theme"]
	path = cosmic-icons
	url = https://github.com/pop-os/cosmic-icons
